.ol-zoom-bottom-right {
    position: absolute;
    bottom: 60px; /* Adjust as needed */
    right: 16px; /* Adjust as needed */
}

.ol-zoom-bottom-right button {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}